# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\vania\Google Drive\0 - Filipe Vania PC\1 - Analytics PROJECTS\6 - SeasTracker\Release1\SeasonalityTracker1.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
